doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    title= title
    block css
      link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.css')
      link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap-theme.css')
      link(rel='stylesheet', href='/css/style.css')
    block js
      script(src='http://localhost:35729/livereload.js')

  body.swagger-section
    header
      nav.navbar.navbar-default
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-responsive-collapse')
          a.navbar-brand(href='/') GOOP
        .collapse.navbar-collapse.navbar-responsive-collapse
          ul.nav.navbar-nav
            li
              a(href='/') Home
            li
              a(href='/docs') Documentation
    block content
